*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}
a{
    color: whitesmoke;
}
/* p{
    color: whitesmoke;
} */
body{
    background-color: black;
}
footer{
    font-family: Arial, Helvetica, sans-serif;
    background-color:#131313;
    color: darkgoldenrod;
    margin-top: 2em;
    width: 100%;
    bottom: 0;
    text-align: center;
    padding-top: 1em;
    padding-bottom: 1em;
}
header{
    font-family: 'Stardos Stencil', cursive;
    font-size: small;
    
    color:darkgoldenrod;
    background-color:#131313;
    top: 0;
    position: fixed;
    z-index: 2;
    width: 100%;

    text-align: center;
    padding: 1.5em 1.875em;
    /* padding-top: 1em;
    padding-left: 30px;
    padding-right: 30px; */
}
button{
    border-radius: 2%;
    padding: 0.5em 0.5em;
    margin: 1em;
}
.wrapper{

    margin-left: auto;
    margin-right: auto;
}
.wrapper__content{
    
    margin-top: 6em;
    margin-left: auto;
    margin-right: auto;
}
.content{
    border-radius: 5px;
    color:darkgoldenrod;
    /* border: white 1px solid; */
    box-shadow: 0 5px 8px 0 rgba(92, 92, 92, 0.5), 0 6px 20px 0 rgba(90, 89, 89, 0.507);
    width: 80%;
    text-align: center;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    padding: 0.7em 2em;
}

@media (min-width: 480px) {
    .content {
        /* display: inline-block; */
        
        max-width: 450px;

        margin-left: auto;
        margin-right: auto;
    }
}

.textblock{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.9rem;
    color: rgba(255, 255, 255, 0.7);
    text-align: left;
}
.textblock_centrerad{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.9rem;
    color: rgba(255, 255, 255, 0.7);
}
.underrubrik{
font-weight: bold;
}
.textblock li{
    margin-bottom: 0.8em;
}
.textblock .attention{
    color: rgba(255, 0, 0, 0.705);
    font-style: italic;
    margin: 0.8em 0;
}
.text-rubrik{
    font-family: 'Stardos Stencil', cursive;
    font-size: 1.4rem;
    font-weight: 700;
    color:darkgoldenrod;
    margin-bottom: 0.3em;
}
.buttonRow{
    margin-top: 1em;
}
.buttonRow .knapp{
    
    display: inline-block;
}